{% extends "_layout.html" %}
{% block stylesheets %}
<style type="text/css" media="screen">
</style>
{% endblock %}
{% block content %}
<table class="table table-condensed">
    <tbody>
        {% for n in news %}
        <tr>
            <td>{{loop.index}}.</td>
            <td>
                <a class="vote"
                   href="{{url_for('news.vote', id=n.id, vote_dir='up')}}">
                    <i class="icon-chevron-up"></i>
                </a>
                <a class="vote"
                   href="{{url_for('news.vote', id=n.id, vote_dir='down')}}">
                    <i class="icon-chevron-down"></i>
                </a>
            </td>
            <td>
                <div>
                    <a href="{{n.link}}">{{n.title}} ({{n.domain}})</a>
                    <p>
                        <span>{{n.created_at}}</span>
                        <span> | 댓글</span>
                        <span> | 보내기</span>
                    </p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}

<script type="text/javascript">
    $("a.vote").click(function() {
        var form = $("<form />")[0];
        form.action = $(this).attr('href');
        form.method = 'POST';
        form.submit();
        return false;
    });
</script>

{% endblock %}