{% extends "_layout.html" %}
{% block stylesheets %}
<style type="text/css" media="screen">
</style>
{% endblock %}
{% block content %}
<table class="table table-condensed">
    <tbody>
        {% for n in news %}
        <tr>
            <td>#.</td>
            <td>
                <a href="#up"><i class="icon-chevron-up"></i></a>
                <a href="#down"><i class="icon-chevron-down"></i></a>
            </td>
            <td>
                <div>
                    <a href="{{n.link}}">{{n.title}}</a>
                    <p>
                        <span> 0점</span>
                        <span> | {{n.created_at}}</span>
                        <span> | 댓글</span>
                        <span> | 보내기</span>
                    </p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}